@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@plugin "daisyui/theme" {
  name: "light";
  default: true; 
  --color-primary: #B80D57;
  --color-secondary: #F8615A;
  --color-accent: #F3E2D4;
  --color-info: #E5C5B5;
 
}


*{
  font-family: "Montserrat", sans-serif;
}
